version: '3.8'
services:
  postgres:
    image: postgres:alpine
    environment:
      POSTGRES_HOST_AUTH_METHOD: 'trust'
    env_file:
      - .env
    ports:
      - '${DB_PORT}:${DB_PORT}'

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - '${REDIS_PORT}:${REDIS_PORT}'
